@model User
@using Jukebox.Models;

<header>
    <title>Profile</title>
</header>
<body>
<div class="profile">
    <div>
            <img src="../img/student.png" style="float:left;max-width:15%"/> Welcome @Model.UserName!
    </div>
    <div class="scroll-table">
        
    </div>
</div>

</body>