@model User
@using Jukebox.Models;

<header>
    <title>Profile</title>
</header>
<body>
<div class="profile">
   <h1>Profile </h1>
    <p>Welcome @Model.UserName!</p>
        
   
</div>
<div>

</div>
</body>