*.dll
*.xml
*.pdb
*.nlp
*.suo
*.nupkg
*.nuspec
*.ps1
*.mdf
*.ldf
*.transform
*.mp3
*.aif
/Jukebox/Jukebox/bin/
/Jukebox/Jukebox/bin/*.dll
/Jukebox/Jukebox/obj/
/Jukebox/Jukebox/obj/Debug
/Jukebox/Jukebox/obj/Debug/*
/Jukebox/*/bin/
/Jukebox/*/obj
Jukebox.dll


/Jukebox/Jukebox/bin
/Jukebox/Jukebox/App_Data/*.ldf
/Jukebox/Jukebox/App_Data/*.mdf
