*.dll

/Jukebox/Jukebox/bin/
/Jukebox/Jukebox/bin/*.dll
/Jukebox/Jukebox/obj/
/Jukebox/Jukebox/obj/Debug
/Jukebox/Jukebox/obj/Debug/*
/Jukebox/*/bin/
/Jukebox/*/obj
Jukebox.dll

*.xml

EntityFramework.SqlServer.xml
EntityFramework.xml

Microsoft.Owin.Host.SystemWeb.dll
Microsoft.AspNet.Identity.Core.dll
Microsoft.AspNet.Identity.EntityFramework.dll
Microsoft.Owin.dll

*.pdb
Microsoft.Owin.Security.Forms.dll
Microsoft.Owin.Security.Google.dll
Microsoft.Owin.Security.MicrosoftAccount.dll
Microsoft.Owin.Security.Twitter.dll
Microsoft.Web.Infrastructure.dll
mscorlib.dll
Newtonsoft.Json.dll
Owin.dll
System.Web.Mvc.dll
System.Web.Optimization.dll
System.Web.Razor.dll
System.Web.WebPages.Deployment.dll
System.Web.WebPages.Razor.dll
Microsoft.Owin.Security.dll
Microsoft.Owin.Security.Facebook.dll

*.nlp
normnfkd.nlp
normidna.nlp
normnfc.nlp
normnfd.nlp
normnfkc.nlp
System.Web.WebPages.xml
Microsoft.Owin.Host.SystemWeb.xml
Microsoft.Owin.Security.Facebook.xml
Microsoft.Owin.Security.Forms.xml
Microsoft.Owin.Security.Google.xml
Microsoft.Owin.Security.MicrosoftAccount.xml
Microsoft.Owin.Security.Twitter.xml
Microsoft.Owin.Security.xml
Microsoft.Owin.xml
Newtonsoft.Json.xml
System.Net.Http.WebRequest.xml
System.Net.Http.xml
System.Web.Mvc.xml
System.Web.Razor.xml
System.Web.WebPages.Deployment.xml
System.Web.WebPages.Razor.xml
TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
DesignTimeResolveAssemblyReferencesInput.cache
Jukebox.csproj.FileListAbsolute.txt
Jukebox.csprojResolveAssemblyReference.cache
Jukebox.dll
Jukebox.pdb
TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
