*.dll
*.xml
*.pdb
*.nlp
*.suo
*.nupkg
*.nuspec
*.ps1
*.transform
*.mp3
*.aif
/Jukebox/Jukebox/bin/
/Jukebox/Jukebox/bin/*.dll
/Jukebox/Jukebox/obj/
/Jukebox/Jukebox/obj/Debug
/Jukebox/Jukebox/obj/Debug/*
/Jukebox/*/bin/
/Jukebox/*/obj
Jukebox.dll


/Jukebox/Jukebox/bin
/Jukebox/Jukebox/Music/*.m4a

!taglib-sharp.dll
!ICSharpCode.SharpZipLib.dll


