@{
    ViewBag.Title = "About";
}
<hgroup>
    <h2 id="Viewbag">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>
</hgroup>
<div class="row-fluid">
    <div class="span12">
        <p>Jukebox is designed to be a social site with a focus around interacting within rooms
            with music.  Each room is created by users and will include a playlist that users can
            add songs into.  Room creators can choose the option of publicly opening their rooms
            to everyone on the site, or create a private room where only those allowed access can 
            enter.  Users in each room can add their own songs in their library to the playlist and 
            upon exit of the room, the songs will be automatically taken out of the playlist.
        </p>
        <p>Jukebox allows for the users to be in control of the music by implementing a like/dislike 
            feature that will rate songs to be played on the playlist.  With this feature, the users
            in the rooms can control what songs get played and which songs get axed.    
        </p>
        <p>The goal of this webapp is to pass cs48 and to also allow for people to share, discover, 
            enjoy music.
        </p>
    </div>
</div>