@{
    ViewBag.Title = "Contact";
}
<hgroup>
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>
</hgroup>
<div>
    <name>
        Julio Garcia <br />
        Casey Barbello <br />
        Christina Morris <br />
        Mathew Glodack <br />
        Daryl Pham <br />  
    <br />
    <br />

    </name>

    <address>
        Phelps 1401, UCSB<br />
        Goleta, CA 93117<br />
        <abbr title="Phone">P:</abbr>
        N/A
    </address>

    @*<address>
        <i class="icon-envelope"></i><strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
        <i class="icon-envelope"></i><strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
    </address>*@
</div>