@{
    ViewBag.Title = "Home Page";  
}

<div class="hero-unit">
    <h1>JUKEBOX</h1>
    <p class="lead">Jukebox is a online music player that can be shared with everyone.  Users connect with others in 
                    online rooms and share, enjoy, and discover new music from one another's libraries.  These rooms 
                    will feature a playlist comprised of music from the creator's library that he/she chooses to be 
                    in the playlist and other users can enter the room and input more music of their own into the 
                    playlist if they desire.  
    </p>
</div>
<div class="row">
    <div class="span4">
        <h2>Getting started</h2>
        <p>ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
        enables a clean separation of concerns and gives you full control over markup
        for enjoyable, agile development.</p>
        <p><a class="btn" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="span4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="span4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>