@{
    ViewBag.Title = "Home Page";  
}

<div class="hero-unit">
    <h1>JUKEBOX</h1>
    <p class="lead">Jukebox is a online music player that can be shared with everyone.  Users connect with others in 
                    online rooms and share, enjoy, and discover new music from one another's libraries.  These rooms 
                    will feature a playlist comprised of music from the creator's library that he/she chooses to be 
                    in the playlist and other users can enter the room and input more music of their own into the 
                    playlist if they desire.  
    </p>
    @*<p><a href="http://asp.net" class="btn btn-primary btn-large">Learn more &raquo;</a></p>*@
</div>
<div class="row">
    <div class="span4">
        <h2>Accomplished thus far</h2>
        <p>
            <ul>
                <li>Basic site with login/registration functionality</li>
                <li>PW resetting</li>
                <li>A small music player</li>
                <li>About page and contact page</li>
            </ul>
        </p>
       @* <p><a class="btn" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>*@
    </div>
    <div class="span4">
        @*<h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
       <p><a class="btn" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>*@
    </div>
    <div class="span4">
        <h2>Things to do</h2>
        <p>
            <ul>
                <li>Get a fully functional profile page up</li>
                <li>Work on uploading music to site</li>
                <li>Make music player play playlists of songs</li>
                <li>Change format, appearance and layout of site</li>
                <li>Give users more settings options</li>
            </ul>
        </p>
        @*<p><a class="btn" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>*@
    </div>
</div>