@model AccountModel
@using DataAccessLayer.Models;
@using Jukebox.Models;



@{
    ViewBag.Title = "Home Page";  
}
<body id="homepage-view">
    <div class="index-hero">
        <h1>JUKEBOX</h1>
 
        <p class="lead">
            Jukebox is a online music player that can be shared with everyone.  Users connect with others in
            online rooms and share, enjoy, and discover new music from one another's libraries.  These rooms
            will feature a playlist comprised of music from the creator's library that he/she chooses to be
            in the playlist and other users can enter the room and input more music of their own into the
            playlist if they desire.
        </p>

    </div>
<div class="profile-container container-fluid">
    <div class="row">
        <div class="col col-lg-4">
            <h2>Accomplished thus far</h2>
            <p>
                <ul>
                    <li>Basic site with login/registration functionality</li>
                    <li>PW resetting</li>
                    <li>A small music player</li>
                    <li>About page and contact page</li>
                </ul>
            </p>
            
        </div>
        <div class="col col-lg-4" >

           
        </div>
        <div class="col col-lg-4">
            <h2>Things to do</h2>
            <p>
                <ul>
                    <li>Get a fully functional profile page up</li>
                    <li>Work on uploading music to site</li>
                    <li>Make music player play playlists of songs</li>
                    <li>Change format, appearance and layout of site</li>
                    <li>Give users more settings options</li>
                </ul>
            </p>
        </div>
    </div>
</div>
</body>