@{
    ViewBag.Title = "Home Page";  
}

<div class="hero-unit">
    <h1>Playlist</h1>
    <div class="box1">
        <audio controls="controls" loop="true">
            <source type="audio/mp3" src="http://audio-ch1-t1-2.pandora.com/access/?version=4&lid=118672631&token=HZstEX73jtulznoPBbLUxi%2BYZS9ZIXq2OTEQ1PRQpFEw1MiRGbQ7o0Vs53CP2xgvnjxFGZ7sRlceEV6AB8G8iy005Qo4lg2fo1Xp2REiqvYDJZ1vUI689xmThKRO1stypfmhkz63zZzSO%2FT9sQ4sUcL%2BaEy0fhSrhHOxg2%2BXVmMJdxZZlL%2Fodk6PAEZYgMDhu5tmqJBwAhqIjUuhxZs%2Bd7u4NLHwBiySiPf6ilv98k1nu0cPQdqtgp6qodePqPXO7hymQj6gOPfQ4T081k6RDTGV%2ByMrzkX5mLoLuNxowoFd0SGTUpl395cL6KCqA%2BSIXYbsB4Cbp8M0YrixDlVcOq6U9iKKwdk5ND2fk9B0dabNrLagWTd9GyznFni1Pu22&lo=4" />
        </audio>
    </div>    
</div>
