@{
    ViewBag.Title = "Home Page";  
}

<div class="hero-unit">
    <h1>Playlist</h1>
    <div class="box1">
        <audio controls="controls" loop="true">
            <source type="audio/mp3" src="https://dl.dropboxusercontent.com/u/70488116/CS%2048/download.mp3" />
        </audio>
    </div>    
</div>
