@{
    ViewBag.Title = "Home Page";  
}

<<!--<div class="hero-unit">
    <h1>Rooms</h1>
    <div class="box1">
        <audio controls="controls" loop="true">
            <source type="audio/mp3" src="https://dl.dropboxusercontent.com/u/70488116/CS%2048/download.mp3" />
        </audio>
    </div>    
</div> -->>
<ul id="playlist">


</ul>
<ul id="playlist">
       <li class="active">
	            <a href="http://www.archive.org/download/bolero_69/Bolero.mp3">
	                Ravel Bolero
	            </a>
	        </li>
	        <li>
	            <a href="http://www.archive.org/download/MoonlightSonata_755/Beethoven-MoonlightSonata.mp3">
	                Moonlight Sonata - Beethoven
	            </a>
	        </li>
	        <li>
	            <a href="http://www.archive.org/download/CanonInD_261/CanoninD.mp3">
	                Canon in D Pachabel
	            </a>
	        </li>
        <li>
            <a href="http://www.archive.org/download/PatrikbkarlChamberSymph/PatrikbkarlChamberSymph_vbr_mp3.zip">
	                patrikbkarl chamber symph
	            </a>
	        </li>
	    </ul> 