@model User
@using Jukebox.Models;

@using (Html.BeginForm("Save", "Music", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="profile-container container-fluid">
        <div class="row">
            <div class="col col-lg-8">
                <form class="form-horizontal" role="form">
                    <legend>Upload your music.</legend>
                    <div class="form-group">
                        <label class="control-label col col-lg-3">Choose your song.</label>
                        <div class="col-lg-9 input-div">
                            <input type="file" multiple name="file" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col col-lg-3">Song title</label>
                        <div class="col-lg-9 input-div">
                            <input class="form-control" type="text" name="songTitle" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col col-lg-3">Artist</label>
                        <div class="col-lg-9 input-div">
                            <input class="form-control" type="text" name="artist" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col col-lg-3">Album</label>
                        <div class="col-lg-9 input-div">
                            <input class="form-control" type="text" name="album" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col col-lg-3">Genre</label>
                        <div class="col-lg-9 input-div">
                            <select name="genre">
                                <option>Hip-Hop</option>
                                <option>Dubstep</option>
                                <option>R&B</option>
                                <option>Country</option>
                                <option>House</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-actions">
                        <input type="submit" value="Upload" class="btn btn-primary" />
                    </div>

                </form>
            </div>
        </div>
    </div>
}