@model List<RoomModel>
@using DataAccessLayer.Models;
@using Jukebox.Models;
@using DataAccessLayer.BusinessLogic;
@using Microsoft.AspNet.Identity;

<body id="search-page">
<div>
@Html.Partial("_RoomListPartial", Model)
</div>
</body>