body {
    padding-bottom: 40px;
    background-color: #FBCB55;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
 }

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

/* styles for removing the background from form */
.no-color {
  background-color: white;
  border-style:none;
}


.index-hero {
    padding: 60px;
    margin-bottom: 30px;
    font-weight: 200;
    line-height: 30px;
    color: inherit;
    background-image:url('../img/Mainpage.png');
    overflow:hidden;
    position:relative;
    background-position: -261px -243px;   
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    color: white;
    font-size: 2em;
    text-shadow: 0 2px 6px rgba(48, 48, 48, 0.7);

}
.footer-link{
    margin-right: 5px;
}

a {
color: #AAAAAA;
text-decoration: none;
}

a:hover, a:focus {
color: #B9B9B9;
text-decoration: underline;
}

hr {
margin: 0 0;
border: 0;
border-top: 1px solid #eeeeee;
border-bottom: 1px solid #ffffff;
margin-top: 15px;
}

.profile-container {
    background-color: white;
    padding-left: 25px;
    padding-right: 50px;
    padding-bottom: 60px;
    margin-bottom: -60px;
    border-radius: 3px 3px 3px 3px;
}

.row {
margin-right: -15px;
margin-left: -15px;
margin-bottom: 10px;
}

.input-div{
    margin-bottom: 10px;
}

#footer-div{
    margin-left: 20px;
}

.table tbody tr:hover{
     cursor: pointer;
}

.table a{
    text-decoration: none;
    color: black;
}

.table-hover > tbody > tr:hover > td, .table-hover > tbody > tr:hover > th {
background-color: rgba(141, 141, 141, 0.16);
}

.text-wrap{
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}

#music-playlist{
    table-layout: fixed;
}

#table-length {
    width: 10%;
}

#table-genre{
    width: 15%;    
}

#table-album{
    width: 25%;
}

#table-artist{
    width: 15%;
}

#table-song{
    width: 35%;
}

#footer-div {
    margin-left: 20px;
    min-width: 240px;
}

#playlist, audio {
    background: padding-box;
    width: 400px;
    padding: 0px;
}

/*#profile-table-wrapper{
    padding-left: 0px;
    padding-right: 0px;
}*/

#profile-page-wrapper{
    min-width: 940px;
}

#jukebox-logo{
    max-width: 60px;
}

.active-link {
background-color: rgba(0, 0, 0, 0.13);
}

.room-container {
    background-color: white;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
    border-radius:3px;

}

#room-padding {
   padding-top:30px;
}

#playlist-width {
    float:left; 
}

#room-members-width {
   float:right; 

}

.room-page-wrapper{
    min-width: 940px;
}

#row-height {
    overflow:scroll;
}


#room-type {
margin-left: 7px;
margin-top: 31px;
font-size: 14px;
color: gray;
}

#create-upload-button {
    margin-top: 23px;
}

#playlist-name {
    margin-top: 28px;
    margin-bottom: 0px;
}

#bottom-music-player {
    background-color: #161414;
    border-color: #e7e7e7;
    padding-top: 10px;
}

#like-button {
    width: 0px;
    height: 8px;
}

.create-thumbs-up {
    position: relative;
    top: -7px;
    left: -8px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
}

.navbar {
    border-radius: 0px;
}

.btn{
    margin-left: 5px;
}

.modal-footer {
padding: 19px 20px 20px;
margin-top: 15px;
text-align: right;
border-top: 1px solid #e5e5e5;
}

.modal-header {
min-height: 16.428571429px;
padding: 15px;
border-bottom: 1px solid #e5e5e5;
}

#current-music{
color: rgb(224, 224, 224);
text-align: center;
}

#current-song-header{
    margin-top: 0px;
    margin-bottom: -10px;
}