body {
    padding-bottom: 40px;
    background-color: #FBCB55;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
 }

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

/* styles for removing the background from form */
.no-color {
  background-color: white;
  border-style:none;
}


.index-hero {
    padding: 60px;
    margin-bottom: 30px;
    font-weight: 200;
    line-height: 30px;
    color: inherit;
    background-image:url('../img/Mainpage.png');
    overflow:hidden;
    position:relative;
    background-position: -261px -243px;   
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    color: white;
    font-size: 2em;
    text-shadow: 0 2px 6px rgba(48, 48, 48, 0.7);

}
.footer-link{
    margin-right: 5px;
}

a {
color: #AAAAAA;
text-decoration: none;
}

a:hover, a:focus {
color: #B9B9B9;
text-decoration: underline;
}

hr {
margin: 0 0;
border: 0;
border-top: 1px solid #eeeeee;
border-bottom: 1px solid #ffffff;
margin-top: 15px;
}

.profile-container {
    background-color: white;
    padding-left: 25px;
    padding-right: 50px;
    padding-bottom: 60px;
    margin-bottom: -60px;
    border-radius: 3px 3px 3px 3px;
}

.row {
margin-right: -15px;
margin-left: -15px;
margin-bottom: 10px;
}

.input-div{
    margin-bottom: 10px;
}

#footer-div{
    margin-left: 20px;
}

.table tbody tr:hover{
     cursor: pointer;
}

.table a{
    text-decoration: none;
    color: black;
}

.table-hover > tbody > tr:hover > td, .table-hover > tbody > tr:hover > th {
background-color: rgba(65, 116, 150, 0.16);
}

.text-wrap{
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}

#music-playlist{
    table-layout: fixed;
}

#table-length {
    width: 10%;
}

#table-genre{
    width: 15%;    
}

#table-album{
    width: 25%;
}

#table-artist{
    width: 15%;
}

#table-song{
    width: 35%;
}

#footer-div {
    margin-left: 20px;
    min-width: 240px;
}

#playlist, audio {
    background: padding-box;
    width: 400px;
    padding: 0px;
}

/*#profile-table-wrapper{
    padding-left: 0px;
    padding-right: 0px;
}*/

#profile-page-wrapper{
    min-width: 940px;
}

#jukebox-logo{
    max-width: 60px;
}

.active-link{
    background-color: rgba(65, 116, 150, 0.16);
}

#genre-select {
    display: none;
}

#room-search {
    display: none;
}