@{
    ViewBag.Title = "Create a new room";
}

<div class="container">

<div class="room-container container-fluid pull-left" id="playlist-width">
    <div class="row">
        <hgroup>
            <h2 id="Viewbag">@ViewBag.Title</h2>
            <h3>@ViewBag.Message</h3>
        </hgroup>
    </div>


    <div class="row" id="playlist-width" >
            <li><audio controls="controls" loop="true">
                <source type="audio/mp3" src="https://dl.dropboxusercontent.com/u/70488116/CS%2048/download.mp3" />
            </audio>
             <button type="submit" class="btn btn-default">Add Music</button> </li>
    </div>

    <div class="row" style="overflow:scroll; max-height:310px">
     <table class="table" >
         <thread>
            <th>Song Title</th>
            <th>Artist</th>
            <th>Genre</th>
            <th>Album</th>
            <th>Length</th>
            <th>Like</th>
        </thread>
         <tr>
            <td>
                <a href="https://dl.dropboxusercontent.com/u/70488116/CS%2048/download.mp3">
                    Test Song 1
                </a>
            </td>
            <td>Artist 1</td>
            <td>Album 1</td>
            <td>Hip-Hop</td>
            <td>3:20</td>
            <td> <button type="submit" class="btn btn-default">Like</button> </td>
       </tr>
        <tr>
            <td>
                <a href="https://dl-web.dropbox.com/get/Music/download.mp3?w=AADZLGY7xfsRuLCsiSmLWHBVv33AIdWSHalXM-H5HWX3bA">
                    Test Song 2
                </a>
            </td>
            <td>Artist 2</td>
            <td>Album 2</td>
            <td>Dubstep</td>
            <td>3:30</td>
            <td> <button type="submit" class="btn btn-default">Like</button> </td>
       </tr>
<tr>
            <td>
                <a href="https://dl-web.dropbox.com/get/Music/download.mp3?w=AADZLGY7xfsRuLCsiSmLWHBVv33AIdWSHalXM-H5HWX3bA">
                    Test Song 2
                </a>
            </td>
            <td>Artist 2</td>
            <td>Album 2</td>
            <td>Dubstep</td>
            <td>3:30</td>
            <td> <button type="submit" class="btn btn-default">Like</button> </td>
       </tr>
<tr>
            <td>
                <a href="https://dl-web.dropbox.com/get/Music/download.mp3?w=AADZLGY7xfsRuLCsiSmLWHBVv33AIdWSHalXM-H5HWX3bA">
                    Test Song 2
                </a>
            </td>
            <td>Artist 2</td>
            <td>Album 2</td>
            <td>Dubstep</td>
            <td>3:30</td>
            <td> <button type="submit" class="btn btn-default">Like</button> </td>
       </tr>
<tr>
            <td>
                <a href="https://dl-web.dropbox.com/get/Music/download.mp3?w=AADZLGY7xfsRuLCsiSmLWHBVv33AIdWSHalXM-H5HWX3bA">
                    Test Song 2
                </a>
            </td>
            <td>Artist 2</td>
            <td>Album 2</td>
            <td>Dubstep</td>
            <td>3:30</td>
            <td> <button type="submit" class="btn btn-default">Like</button> </td>
       </tr>
<tr>
            <td>
                <a href="https://dl-web.dropbox.com/get/Music/download.mp3?w=AADZLGY7xfsRuLCsiSmLWHBVv33AIdWSHalXM-H5HWX3bA">
                    Test Song 2
                </a>
            </td>
            <td>Artist 2</td>
            <td>Album 2</td>
            <td>Dubstep</td>
            <td>3:30</td>
            <td> <button type="submit" class="btn btn-default">Like</button> </td>
       </tr>

    
   
     </table>
    </div>
</div>



    <!--<div class="row">
        <button type="submit" class="btn btn-default">Add Music</button>
        @Html.ActionLink("Add Music", "Upload", "Music", null, new { @class= "btn btn-primary pull-right"})
    </div>-->

   <div > <!--Container here-->



<div class="room-container container-fluid" id="room-members-width">
    <div class="row">
    <h3>Room Members</h3>
</div>
<div class="row" style="overflow:scroll; max-height:405px">
      <table class="table">
        <tr><td>Julio Garcia</td></tr>
        <tr><td>Casey Barbello </td></tr>
        <tr><td>Mathew Glodack </td></tr>
        <tr><td>Daryl Pham</td></tr> 
<tr><td>Julio Garcia</td></tr>
        <tr><td>Casey Barbello </td></tr>
        <tr><td>Mathew Glodack </td></tr>
        <tr><td>Daryl Pham</td></tr> 
<tr><td>Julio Garcia</td></tr>
        <tr><td>Casey Barbello </td></tr>
        <tr><td>Mathew Glodack </td></tr>
        <tr><td>Daryl Pham</td></tr> 
<tr><td>Julio Garcia</td></tr>
        <tr><td>Casey Barbello </td></tr>
        <tr><td>Mathew Glodack </td></tr>
        <tr><td>Daryl Pham</td></tr> 
<tr><td>Julio Garcia</td></tr>
        <tr><td>Casey Barbello </td></tr>
        <tr><td>Mathew Glodack </td></tr>
        <tr><td>Daryl Pham</td></tr> 

       
</table>
</div>
</div>

   </div>
</div>

