@model List<SongModel>
@using DataAccessLayer.Models;
@using Jukebox.Models;

<div class="container">

<div class="room-container container-fluid">
    <div class="row">
        <div class="col col-lg-9">
                <div class="pull-left"><h3 id="playlist-name">Ratchet 2013</h3></div><div id="room-type" class="pull-left">(Private)</div>
        </div>
        <div class="col col-lg-3 pull-right">
            @Html.ActionLink("Upload Music", "Upload", "Music", null, new { @class= "btn btn-primary pull-right", data_toggle="modal", href="#profileModal", @id = "create-upload-button"})
        </div>
    </div>


    <div class="row">
           
    </div>

    <div class="row">
        <div class="col col-lg-9 pull-left" >
            <table class="table" >
                <thread>
                    <th>Song Title</th>
                    <th>Artist</th>
                    <th>Genre</th>
                    <th>Album</th>
                    <th>Length</th>
                    <th>Like</th>
                </thread>
            <tr>
                <td>
                     <a href="https://dl.dropboxusercontent.com/u/70488116/CS%2048/download.mp3">
                         Test Song 1
                     </a>
                </td>
                <td>Artist 1</td>
                <td>Album 1</td>
                <td>Hip-Hop</td>
                <td>3:20</td>
                <td> <button type="button" class="btn btn-default btn-lg" style="height: 30px">
                        <span class="glyphicon create-thumbs-up glyphicon-thumbs-up" id="like-button"></span>
                     </button>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="https://dl-web.dropbox.com/get/Music/download.mp3?w=AADZLGY7xfsRuLCsiSmLWHBVv33AIdWSHalXM-H5HWX3bA">
                        Test Song 2
                    </a>
                </td>
                <td>Artist 2</td>
                <td>Album 2</td>
                <td>Dubstep</td>
                <td>3:30</td>
                <td> <button type="button" class="btn btn-default btn-lg" style="height: 30px">
                        <span class="glyphicon create-thumbs-up glyphicon-thumbs-up" id="like-button"></span>
                     </button>
                </td>
            </tr>
            </table>
            </div>


        <div class="col col-lg-3 pull-right">
            <table class="table table-bordered">
                <th>Room Members</th>
                <tr><td>Julio Garcia</td></tr>
                <tr><td>Casey Barbello </td></tr>
                <tr><td>Mathew Glodack </td></tr>
                <tr><td>Daryl Pham</td></tr>      
                </table>
        </div> 
    </div>
</div>
</div>


<!--
<nav class="navbar navbar-default navbar-fixed-bottom" id="bottom-music-player" role="navigation">
        <div class"pull-center">
             <li><audio controls="controls" loop="true">
                 <source type="audio/mp3" src="https://dl.dropboxusercontent.com/u/70488116/CS%2048/download.mp3" />
             </audio>
            </li>
        </div>
</nav>
-->

