@model List<AccountModel>
@using DataAccessLayer.Models;
@using Jukebox.Models;



<table class="table table-hover">
    <thead>
        <tr>
            <th id="table-song">Users</th>
        </tr>
    </thead>
    <tbody>
@if(Model.Count() > 0 && Model != null){
        foreach (AccountModel account in Model)
        {
           
                <tr>
                    <td><div class="text-wrap">@account.Username</div></td>
                   
                </tr>
           

        }
}
    </tbody>
</table>
